body{
    background-color: #e6f7ff;
}

h3{
    margin: 16px 0;
    text-align: center;
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
  }
  
.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}