{% extends "base.html" %}

{% block title %}
    <title> Home page </title>
    <link rel="stylesheet" href="../static/css/homepage.css">
{% endblock %}

{% block content %}
          <div class="container">
            <h3> Welcome to my API! </h3>
                {% if msg %}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
            {% endif %}
            <div class="left">
              <p>This is a web application for uploading posts, you can create your own account in the account tab and start posting right away!<br>
                You can see what other users are posting and vote on their posts.<br>
                Also you can upload your own posts and once created, edit them or delete them.<br>
                For more information about the app you can visit my github repository at 
                <a href="https://github.com/SebaPifarre/fastapi-posting-app" target="_blank">Github<img src="../static/images/github-mark.png" alt="Github logo"></a></p>
            </div>
            <div class="right">
              <img src="{{ url_for('static', path='images/brooke-cagle-tLG2hcpITZE-unsplash.jpg') }}" alt="Image">
              <div class="text">
                Photo by <a href="https://unsplash.com/de/@brookecagle?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Brooke Cagle</a> on <a href="https://unsplash.com/s/photos/guy-in-computer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Unsplash</a>
              </div>
            </div>
          </div>
{% endblock %}