{% extends "base.html" %}

{% block title %}
    <title> Posts </title>
    <link rel="stylesheet" href="../static/css/posts_display.css">
{% endblock %}

{% block content %}

    <div class="container">
        <h3>Posts!</h3>
        <div class="posts-grid">
            {% for post in posts %}
                <div class="post">
                {% with citem = post %}
                    {% include 'card.html' %}
                {% endwith %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}